<html>
    <link rel="stylesheet" type="text/css" href="{{=URL('static','css/style.css')}}"/>
    <script type="text/javascript" src="{{=URL('static','js/jquery.js')}}"></script>
    <head>
        <title>Wedding Slider</title>
    </head>
    <body>
        <script  type="text/javascript">
            $(document).ready(function(){
                var url = "{{=URL('static','images/bouquet.jpg')}}";
                $('#slider').append("<img id='photo' src="+url+"\>");
            })
        </script>
        <div id="slider"></div>
    </body>
</html>
